<form action="{{url_for('suppression_seance')}}" method="post" name="suppression_seance"> <!-- indication de l'url_for actionné lorsque l'on soumet le formulaire rempli en POST -->
    {{ form.hidden_tag() }} <!-- tag caché du formulaire -->

    <div class="form-group"> <!-- chaque ligne du formulaire suit ce même modèle -->
        <label for="id_seance">ID de la séance</label> <!-- label de la ligne à remplir -->
        {{ form.id_seance(class_="form-control", placeholder_="ID de la séance") }} <!--intégration du FlaskForm depuis formulaires.py -->
        <small id="id_seance" class="form-text text-muted">Entrer l'ID de la séance à supprimer</small> <!-- légende de la ligne du formulaire-->
    </div>

    <p><input type="submit" value="Insérer"></p> <!-- bouton permettant de soumettre le formulaire -->
</form>