<form action="{{url_for('suppression_activite')}}" method="post" name="suppression_activite"> <!-- indication de l'url_for actionné lorsque l'on soumet le formulaire rempli en POST -->
    {{ form.hidden_tag() }} <!-- tag caché du formulaire -->

    <div class="form-group"> <!-- chaque ligne du formulaire suit ce même modèle -->
        <label for="id_activite">ID de l'activité</label> <!-- label de la ligne à remplir -->
        {{ form.id_activite(class_="form-control", placeholder_="ID de l'activité") }} <!--intégration du FlaskForm depuis formulaires.py -->
        <small id="id_activite" class="form-text text-muted">Entrer l'ID de l'activité à supprimer</small> <!-- légende de la ligne du formulaire-->
    </div>

    <div class="form-group">
        <label for="type_activite">Type d'activité</label>
        {{ form.type_activite(class_="form-control", placeholder_="Type d'activité") }}
        <small id="type_activite" class="form-text text-muted">Indiquer le type d'activité à supprimer</small>
    </div>

    <p><input type="submit" value="Insérer"></p> <!-- bouton permettant de soumettre le formulaire -->
</form>