{% extends "partials/conteneur.html" %}

{% block titre %}Détails de l'exposition{% endblock %}

{% block body %}

<div class="container">
    <section class="page-header d-flex-between mt-4">
        <h1>Sommaire des expositions</h1>
        <a href="{{ url_for('export_expositions_csv') }}">
            <button class="btn-export">📥 Export CSV</button>
        </a>
    </section>
    <hr/>

    {%for expo in liste_expos %}
    <section>
        <!-- <img src="{{url_for('static', filename=expo.id_expo + '.jpg')}}" height="200px" width="400px">
        <img src="{{url_for('static', filename=expo.id_expo + '.png')}}" height="200px" width="400px"> -->
        <a href="{{url_for('detail_exposition', exposition_choisie=expo.id_expo)}}">
            <h2>{{expo['nom_expo']}}</h2>
        </a>
        <hr/>
    </section>
    {%endfor%}
</div>

{% endblock %}