{% extends "partials/conteneur.html" %}

{% block titre %}Recherche Avancée{% endblock %}

{% block body %}

<div class="container mt-5">

    {% if not donnes %}
    <div class="d-flex-between">
        <h1 class="fw-bold">Recherche multicritères</h1>
    </div>

    <div class="row">
        <h3 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Effectuer une recherche <i class="fa-solid fa-caret-down"></i>
        </h3>
        <div class="collapse show">
            {% include "partials/formulaires/recherche.html" %}
        </div>
    </div>

    {% else %}

    <!--affichage caché du formulaire-->
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <h3 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                Effectuer une recherche <i class="fa-solid fa-caret-down"></i>
        </h3>
            <div class="collapse " id="collapseExample">
                <div class="card card-body">
                    {% include "partials/formulaires/recherche.html" %}
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

        <!-- affichage des résultats-->
    <h1>Résultats de la recherche </h1>
    <br>
    <div>
        {% for seance in donnees.items %}
        {% if (donnees.items).index(seance) == 0 %}
        <a class="list-group-item list-group-item-action active" id="list-{{seance.id_seance}}-list" data-toggle="list"
            href="#list-{{seance.id_seance}}" role="tab" aria-controls="{{seance.id_seance}}">{{seance.id_seance | safe}}</a>
        {% else %}
        <a class="list-group-item list-group-item-action" id="list-{{seance.id_seance}}-list" data-toggle="list"
            href="#list-{{seance.id_seance}}" role="tab" aria-controls="{{seance.id_seance}}">{{seance.id_seance | safe}}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{%endif%}
</div>

{% endblock %}