{% extends "partials/conteneur.html" %}

{% block titre %}Modification de données{% endblock %}

{% block body %}

<div>
    <h1>Ajouts et modifications de la base de données</h1>
    <hr/>
    <h1>Insérer des données</h2>
    <h2>Je veux <a href="{{url_for('insertion_seance')}}">créer une nouvelle séance</a></p>
    <h2>Je veux <a href="{{url_for('insertion_exposition')}}">créer une nouvelle exposition</a></p>
    <h2>Je veux <a href="{{url_for('insertion_activite')}}">créer une nouvelle activité</a></p>
    <hr/>
    <h1>Supprimer des données</h2>
    <h2>Je veux <a href="{{url_for('suppression_seance')}}">supprimer une séance</a></p>
    <h2>Je veux <a href="{{url_for('suppression_exposition')}}">supprimer une exposition</a></p>
    <h2>Je veux <a href="{{url_for('suppression_activite')}}">supprimer une activité</a></p>
</div>

{% endblock %}