{% extends "partials/conteneur.html" %}

{% block titre %}Expositions{% endblock %}

{% block body %}

<div class="container">
    <section class="page-header d-flex-between mt-4">
        <h1>Sommaire des expositions</h1>
    </section>
    <hr/>

    {%for expo in liste_expos %}
    <section>
        <a href="{{url_for('détail_exposition', exposition_choisie=expo.id_expo)}}">
            <h2>{{expo['nom_expo']}}</h2>
        </a>
        <hr/>
    </section>
    {%endfor%}
</div>

{% endblock %}