{% extends "partials/conteneur.html" %}

{% block titre %}Résultats de la recherche{% endblock %}

{% block body %}

<div class="container"> <!-- conteneur général -->
    <!-- Affichage du terme recherché -->
    {% if requete %}
        <h1>Terme recherché : <i>{{ requete }}</i></h1>
        <hr/>
    {% else %}
        <h1>Recherche vide</h1>
        <hr/>
    {% endif %}

     <!-- Résultats Expositions -->
    <div>
        <h2>Expositions</h2>
        {% if resultats_expo %}
            {% for expo in resultats_expo %}
                <p>
                    <a href="{{ url_for('detail_exposition', exposition_choisie=expo.id_exposition) }}">
                         {{ expo.id_exposition }} - {{ expo.nom_exposition }}
                    </a>
                </p>
            {% endfor %}
        {% else %}
            <p>Aucun résultat pour les expositions.</p>
        {% endif %}
        <hr/>
    </div>

    <!-- Résultats Activités -->
    <div>
        <h2>Activités</h2>
        {% if resultats_activites %}
            {% for act in resultats_activites %}
                <p>
                    <a href="{{ url_for('detail_activite', activite_choisie=act.id_activite) }}">
                         {{ act.id_activite }} - {{ act.type_activite }}
                    </a>
                </p>
            {% endfor %}
        {% else %}
            <p>Aucun résultat pour les activités.</p>
        {% endif %}
        <hr/>
    </div>

    <!-- Résultats Publics -->
    <div>
        <h2>Publics</h2>
        {% if resultats_publics %}
            {% for pub in resultats_publics %}
                <p>
                    <a href="{{ url_for('public', type_public_choisi=pub.type_public) }}">
                         {{ pub.id_public }} - {{ pub.type_public }}
                    </a>
                </p>
            {% endfor %}
        {% else %}
            <p>Aucun résultat pour les publics.</p>
        {% endif %}
        <hr/>
    </div>

</div>

{% endblock %}