{% extends "partials/conteneur.html" %}

{% block titre %}Détails de l'activité{% endblock %}

{% block body %}

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
    <section class="page-header d-flex-between mt-4">
        <h1>Informations sur
            {% if activite_choisie == 'ALL' -%}
            toutes les activités
            {% else -%}
            l'activité : "{{ donnees.type_activite }}"
            {% endif %}
        </h1>
    </section>

    <section class="container mt-4">

    </section>

    <!--===========================
        ///////GRAPHIQUE 1/////////
        ===========================-->
    <section class="container mt-4">
        <h3 class="section-title">Activités par expositions</h1>
            
    </section>

    <canvas id="activitesExpo"></canvas>
    <!--Graphique en barres, même logique que pour une_exposition.html-->
    <script>
    document.addEventListener("DOMContentLoaded", function() {

        const ctx = document.getElementById("activitesExpo");

        const labels = {{ labels_expo | tojson }};
        const data = {{ data_expo | tojson }};

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Nombre d'activités par expositions",
                    data: data
                }]
            },
            options: { 
                responsive: true 
            }
        });
    });
    </script>

        <!--===========================
        ///////GRAPHIQUE 2/////////
        ===========================-->

    <section class="container mt-4">
        <h3 class="section-title">Activités par séances dans le temps</h3>
            
 
    </section>

    <canvas id="activitesSeances"></canvas> 
    <!--Graphique en ligne, même logique que pour une_exposition.html-->
    <script>
        const ctx = document.getElementById("activitesSeances");

        const labels = {{ labels_activites | tojson }}; 
        const data = {{ data_seances | tojson }};

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Activités par séances", 
                    data: data,
                    fill: false,
                    lineTension: 0.1
                }]
            },
            options: {
                responsive: true, 
            }
        });
    </script>
</div>

{% endblock %}
