<form action="{{url_for('insertion_exposition')}}" method="post" name="insertion_exposition">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="id_exposition">ID de l'exposition</label>
        {{ form.id_exposition(class_="form-control", placeholder_="ID de l'exposition") }}
        <small id="id_exposition" class="form-text text-muted">Entrer l'ID de l'exposition</small>
    </div>

    <div class="form-group">
        <label for="nom_exposition">Nom de l'exposition</label>
        {{ form.nom_exposition(class_="form-control", placeholder_="Nom de l'exposition") }}
        <small id="nom_exposition" class="form-text text-muted">Indiquer le nom de l'exposition</small>
    </div>

    <p><input type="submit" value="Insérer"></p>
</form>